{% if include.layout == "map_right" %}
	{% assign contact_map_order = "order-md-2" %}
{% endif %}

{% if include.layout == "map_left" %}
	{% assign contact_map_order = "order-md-1" %}
{% endif %}

{% assign c = "c-contact" %}

<section class="{{c}}">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-md-5 {{ contact_map_order }} {{c}}__location-popout">
				<div class="{{c}}__location-popout-details">
					<div class="row">
						{% if include.address and include.address != "" %}
							<div class="col-lg-6">
								<div class="{{c}}__popout-heading">
									<p>Our Location</p>
								</div>
								<div class="{{c}}__popout-detail">
									<p>{{ include.address }}</p>
								</div>
							</div>
						{% endif %}
						{% if include.email and include.email != "" %}
							<div class="col-lg-6">
								<div class="{{c}}__popout-heading">
									<p>Email Us</p>
								</div>
								<div class="{{c}}__popout-detail">
									<a href="mailto:{{ include.email }}"><p>{{ include.email }}</p></a>
								</div>
							</div>
						{% endif %}
						{% if include.phone and include.phone != "" %}
							<div class="col-lg-6">
								<div class="{{c}}__popout-heading">
									<p>Give Us a Call</p>
								</div>
								<div class="{{c}}__popout-detail">
									<a href="tel:{{ include.phone }}"><p>{{ include.phone }}</p></a>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="text-center">
					<div style="width: 100%; height: 600px; overflow: hidden;">
						<iframe class="{{c}}__map-embed" 
								frameborder="0" 
								scrolling="no" 
								marginheight="0" 
								marginwidth="0" 
								style="width: 100%; height: 100%;" 
								{% if include.map-iframe %}src="{{ include.map-iframe }}"{% endif %}>
						</iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
